.p-t1 {
  padding-top: 1rem;
}

.hidden {
  visibility: hidden;
}

.form-100-m1 {
  padding: 1rem;

  > {
    .MuiTextField-root {
      width: 100%;
    }

    :not(:last-child) {
      margin-bottom: 1rem;
    }
  }
}
