.p-t1 {
  padding-top: 1rem !important;
}

.m-b2 {
  margin-bottom: 2rem !important;
}

.hidden {
  visibility: hidden;
}

.form-100-m1 {
  padding: 1rem;

  > {
    .MuiFormControl-root {
      width: 100%;
    }

    :not(:last-child) {
      margin-bottom: 1rem;
    }
  }
}

.form-control-100 {
  width: 100%;
}
